@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    background-color: #EEF9BF;
    font-family: "Roboto";
}

.title{
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-weight: 700;
    color: #75B79E;
    font-size: 56px;
}

.game{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    
}
/*Cartas*/

/*.card{
    width: 250px;
    height: 300px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    transition: all .5s;
    transform-style: preserve-3d;   
}

*/

.card {
    width: 200px;
    height: 250px;
    position: relative;
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .card:hover .back-face {
    transform: rotateY(0deg);
  }

  .card:hover .front-face {
    transform: rotateY(-180deg);
  }
  
/*imagens das cartas*/
.back-face img{
    width: 80%;
    height: 80%;
    margin: 10%;
}
.front-face img{
    width: 100%;
    height: 100%;
}